<% content_for :title do %>About<% end %>
<h3>About the Developer</h3>
<div class="container">
  <div class="row">
    <div class="[ col-sm-6 ]">
      <div class="[ info-card ]">
        <img style="width: 100%" src="http://texaswebdevelopers.com/images/michael-macnaughton.jpg" />
        <div class="[ info-card-details ] animate">
          <div class="[ info-card-header ]">
            <h1> Michael MacNaughton </h1>
            <h3> (214) 564-5316 </h3>
            <p>- <a href="http://www.texaswebdevelopers.com/pdf/Michael_MacNaughton_resume_08-14-fr.pdf" title="View Resume as a PDF" target="_blank">resume</a> -</p>
          </div><!--end header-->
          <div class="[ info-card-detail ]">
            <!-- Description -->
            <p>The idea of creating something worthwhile from nothing has always been my passion. This is what lead me to website development. The engineer in me is challenged to solve problems through code logic while the artist in me is challenged to implement beautiful and functional designs. </p>
            <div class="social">
              <a href="https://www.facebook.com/mike.macnaughton" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>

              <a href="https://twitter.com/mikemacnaughton" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>

              <a href="https://github.com/TexasWebDevelopers/macnaughtons_fizz_buzz" class="[ social-icon github ] animate"><span class="fa fa-github-alt"></span></a>

              <a href="https://plus.google.com/u/0/+MichaelMacNaughton1/posts" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>

              <a href="www.linkedin.com/in/texaswebdevelopers/" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
            </div><!--end social-->
          </div><!--end card detail-->
        </div><!--end animate-->
      </div><!--end info card-->
    </div><!--end col-->
  </div><!--end row-->
</div><!--end container-->